html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.section1 {
  background-color: #1F2937;
}

.main-title {
  display: flex;
  padding: 48px;
  margin: 0 auto;
  width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 96px 0 72px;
}

.header p {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  gap: 12px;
  list-style: none;
  color: #E5E7EB;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: #E5E7EB;
}


.hero {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 24px;
  gap: 10px;
}
.hero .text1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero .text2 {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  color: white;
  border-radius: 5px;
  width: 100px;
  padding: 6px 0;
  border: none;
}

.section1 .image-container {
  min-width: 400px;
  height: 220px;
  background-color: grey;
  margin: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  flex-shrink: 0;
}

.section2 {
  background-color: white;
}

.section2 .text {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
  padding: 30px 0;
}

.card-container,
.caption-container {
  display: flex;
  margin: 0 auto;
  width: 650px;
  justify-content: center;
}

.card-container {
  padding-bottom: 15px;
  gap: 40px;
}

.card {
  border: 4px solid #3882F6;
  border-radius: 15px;
  flex-shrink: 0;
}

.caption-container {
  display: flex;
  gap: 40px
}

.caption,
.card {
  width: 150px;
  height: 150px;
}

.caption {
  text-align: center;
  color: #5a6370;
  flex-shrink: 0;
}
.section3 {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 70px 150px;
}

.section3 .quote {
  font-size: 24px;
  font-style: italic;
  color: #535d69;
  padding-bottom: 10px;
}

.section3 .text {
  margin-left: auto;
  padding-right: 50px;
  font-weight: bold;
}

.section4 {
  background: white;
  padding: 70px 120px;
}

.content-container {
  background-color: #3882F6;
  padding: 40px 90px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  flex-wrap: wrap;
}

.text-container {
  align-self: center;
}

.text1 {
  color: #F9FAF8;
  font-size: 18px;
  font-weight: bold;
}

.text2 {
  color: #E5E7EB;
  font-size: 14px;
}

.section4 button {
  border: 2px solid white;
  margin: 10px 0
}

.section5 {
  background-color: #1F2937;
  text-align: center;
  color: #E5E7EB;
  padding: 30px;
  font-size: 14px;
}